# Unity folders to ignore
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/
UserSettings/

# Visual Studio/JetBrains
*.csproj
*.sln
*.user
*.pidb
*.suo
*.unityproj
*.tmproj
*.booproj
.vscode/
.idea/

# OS/system files
.DS_Store
*.apk
*.unitypackage
